/* Icons */

.arrow {
  position: relative;
  cursor: pointer;
  width: 10px;
  height: 6px;
  @include transition($default-transition);
}
.arrow-left {
  position: absolute;
  background-color: transparent;
  top: 2px;
  left: 0;
  width: 6px;
  height: 2px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.arrow-left:after {
  content: "";
  background-color: rgba(68, 68, 68, .4);
  width: 6px;
  height: 2px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}
.arrow-right {
  position: absolute;
  background-color: transparent;
  top: 2px;
  left: 4px;
  width: 6px;
  height: 2px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.arrow-right:after {
  content: "";
  background-color: rgba(68, 68, 68, .4);
  width: 6px;
  height: 2px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}
.open .arrow-left:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .arrow-right:after {
  transform-origin: center center;
  transform: rotate(70deg);
}
.rating {
  position: relative;
  height: 15px;
}
.stars {
  width: 92px;
  &_empty {
    position: absolute;
    top: 0;
    left: calc(50% - 46px);
    overflow: hidden;
    width: 90px;
  }
  &_full {
    left: calc(50% - 46px);
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
/* Dropdown */

.f-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 4px 5px 20px;
  height: 40px;
  &__arrow {
    position: absolute;
    right: 15px;
    top: calc(50% - 3px);
    z-index: 100;
  }
  &__body {
    max-width: 160px;
    &.opened {
      ~ .arrow {
        @include rotate(180deg);
        z-index: 101;
      }
    }
  }
}
/* end of Dropdown */

///main styles

.main-wrapper {
  padding: 0 0 0 0;
  min-width: $min-width;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
}
.wrapper {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 0 0 15px;
  margin: 0 auto;
  position: relative;
}

/* titles */
p {
  @include font($base-font-size, $base-line-height, $text-color);
  padding: 15px 0 15px 0;
  font-weight: 400;
}
h1 {
  @include font($font-size-h1, $line-height-h1, $title-color);
  font-family: $custom-title-font-family;
  padding: 15px 0 15px 0;
  font-weight: 400;
}
h2 {
  @include font($font-size-h2, $line-height-h2, $title-color);
  font-family: $custom-font-family;
  padding: 18px 0 15px 0;
  font-weight: 400;
}
h3 {
  @include font($font-size-h3, $line-height-h3, $title-color);
  font-family: $custom-font-family;
  padding: 18px 0 18px 0;
  font-weight: 700;
}
/* text position */
.text-left { text-align: left !important }
.text-center { text-align: center !important }
.text-right { text-align: right !important }
.nowrap { white-space: nowrap !important; }
/* loader */
.loaded .main-wrapper { visibility: hidden; }
.icon-load { background: url(../img/loader.gif) no-repeat left top; width: 40px; height: 40px; position: fixed; left: 50%; top: 50%; margin-left: -20px; margin-left: -20px; display: none; }
.loaded .icon-load { display: block; }
.btn {
  background-color: $second-bg;
  padding: 10px 15px;
  @include border(1px, solid, $border);
  font-weight: bold;
  min-height: 30px;
  width: 100%;
  height: 100%;
  color: $active-color;
  @include transition($default-transition);
}
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: $min-width;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background: url("../img/bg-pattern.jpg") repeat, #f9f9f9;
  &__title {
    margin: 25px 0 22px 25px;
    letter-spacing: -3px;
  }
}
.products {
  display: flex;
  &__filters {
    min-width: 270px;
    margin-right: 27px;
  }
  &__item {
    overflow: hidden;
  }
  &__recommendations {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
  }
}
.cards {
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  padding: 2px;
  transform: translateY(-4px);
  &__item {
    margin-right: 27px;
    margin-bottom: 18px;
    width: 30.5%;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $second-bg;
  margin-top: 3px;
  @include transition($default-transition);
  @include border(1px, solid, $base-bg);
  @include shadow(0px 0px 4px 0px rgba(68, 68, 68, .2));
  @include radius($card-radius);
  &__img {
    width: 100%;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
  &__rating {
    margin-top: 20px;
  }
  &__divider {
    margin-bottom: 17px;
  }
  &__price {
    @include font($font-size-h2, $line-height-h2, $title-color);
    font-weight: 700;
    margin-bottom: 16px;
  }
  &__title {
    @include transition($default-transition);
    margin: 0 5px;
    text-align: center;
    white-space: nowrap;
  }
}
.divider {
  width: 80px;
  height: 1px;
  background-color: $border;
}
.sign {
  display: inline-block;
  height: 28px;
  @include font($font-size-sign, $line-height-sign, $sign-color);
  @include radius($sign-radius);
  font-weight: 600;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 0 8px;
  position: absolute;
  top: 10px;
  left: 10px;
  &_info {
    background-color: $sign-bg-info;
  }
  &_attention {
    background-color: $sign-bg-attention;
  }
}
.recommendations {
  &__title {
    text-transform: uppercase;
  }
}
/* Accordion */

.filters {
  position: relative;
  box-sizing: border-box;
  background-color: $second-bg;
  @include border(1px, solid, $border);
  &__accordion {
    &.active {
      display: block;
    }
  }
  &__btn {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.accordion {
  &__item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 11px 15px 11px 20px;
    font-weight: bold;
    border-top: 1px solid $border;
    cursor: pointer;
    &:first-child {
      border-top: 1px solid transparent;
    }
  }
  &__item-body {
    display: none;
    max-height: 180px;
    overflow-y: scroll;
    padding-top: 8px;
    &.active {
      display: block;
    }
  }
  &__radio-label {
    position: relative;
    height: 30px;
    width: 100%;
  }
  &__radio-text {
    position: absolute;
    left: 30px;
    top: 0;
    height: 30px;
    white-space: nowrap;
    color: $text-color;
    @include transition($default-transition);
    &.active {
      color: $active-color;
      font-weight: bold;
    }
  }
  &__radio {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    border: 1px solid transparent;
    height: 28px;
  }
}
.accordion__item-title.active {
  border-bottom: 1px solid $border;
  .arrow {
    @include rotate(180deg);
    @include transition($default-transition);
  }
}
.accordion__item-select {
  border-top: 1px solid $border;
}
/* end of Accordion */

/*Slider*/

.multiple-items {
  .card {
    text-align: center;
    margin: 3px auto;
  }
  .divider {
    margin-left: auto;
    margin-right: auto;
  }

}
.slick-track {
  left: 3px;
}
.slick-dots {
  bottom: -68px;
  transform: translateX(-10px);
  li, li button, li button:before {
    width: 12px;
  }
  li {
    margin: 0;
    &.slick-active button:before {
      color: #e44256;
    }
  }
}
.slick-slide {
  margin-right: 27px;
}
.slick-dotted.slick-slider {
  margin-bottom: 120px;
}
.arrows {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 40px;
  &__symbol {
    line-height: 38px;
    transform: translate(-1px, -2px);
    @include font(24px, 24px, $active-color);
    font-weight: 700;
  }
  &__prev, &__next {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: $base-bg;
    @include border(1px, solid, $border);
    @include radius(50%);
    @include transition($default-transition);
    position: absolute;
    top: 0;
  }
  &__prev {
    left: calc(50% - 80px);
  }
  &__next {
    left: calc(50% + 25px);
    .arrows__symbol {
      transform: translate(1px, -2px);
    }
  }
}
/*atomic*/
.w-80 {
  width: 80%;
}
/* Scrollbar */

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 3px;
  height: 60%;
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(147, 222, 255, .7);
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(72, 179, 203, .5);
}
/* Media */

@media not all and (hover: none) {
  .card:hover {
    @include border(1px, solid, rgba(72, 179, 203, .3));
    @include shadow(0px 4px 9px 0px rgba(72, 179, 203, 0.4));
    @include transition($default-transition);
    .card__title {
      @include transition($default-transition);
      color: $active-color;
    }
  }
  .accordion__radio-label {
    &:hover {
      .accordion__radio-text {
        cursor: pointer;
        color: $active-color;
        @include transition($default-transition);
      }
    }
  }
  .arrows {
    &__prev:hover, &__next:hover {
      @include border(1px, solid, rgba(68, 68, 68, .5));
      @include transition($default-transition);
    }
  }
  .btn:hover {
    color: #fff;
    background-color: $active-color;
    @include transition($default-transition);
  }
}
@media screen and (max-width: 1200px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (max-width: 991px) {
  .wrapper {
    padding: 0 15px 0 30px;
  }
  .cards {
    &__item {
      width: 47%;
      margin-right: 3%;
      &:nth-child(3n) {
        margin-right: 24px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 50px;
  }
  .content {
    &__title {
      text-align: center;
      margin: 20px auto;
    }
  }
  .filters {
    width: 100%;
    @include border(1px, solid, $base-bg);
    &__accordion {
      @include transition($default-transition);
      opacity: 0;
      width: 0;
      height: 0;
      &.active {
        display: block;
        opacity: 1;
        width: auto;
        height: auto;
      }
    }
    &__btn {
      display: flex;
      &.hidden {
        display: none;
      }
    }
  }
  .products {
    flex-direction: column;
    justify-content: center;
    &__filters {
      margin: 0 auto 30px;
    }
  }
  .cards {
    &__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
      &:nth-child(3n), &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .recommendations__title {
    text-align: center;
    font-weight: 700;
  }
}
/* end of Media */

/* Browsers */

/* end of Browsers */

